body {
  background-color: #ff4d4d;
  background-size: cover;
}

.title{
  text-align: center;
  color: white;
}

.inner{
  margin-left: 500px;
  background-color: white;
  margin-right: 540px;
  height: 620px;
  width: 500px;
}

.logo img{
  height: 190px;
  width: 150px;
  margin-left: -24px;
  margin-top: -15px;
  margin-right: 15px;
}

.registration_c{
  margin-top: -120px;
  margin-left: 130px;
}

.all{
  margin-top: 60px;
  margin-left: -30px;
}

.item{
  font-size: 18px;
  margin-top: 5px;
}

.item_button{
  display: inline-block;
  margin-top:20px;
  margin-bottom: 20px;
  width: 70%;
  border: none;
  color: #fff;
  padding: 15px;
  border-radius: 3px;
  background-color: #ff4d4d;
  -webkit-box-shadow: 0 2px 7px  #211545;
  box-shadow: 0 2px 7px #211545;
  font-weight: 700;
  outline: 0;
  cursor: pointer;
}

label{
  color: red;
}

input {
  border: none;
  border-bottom: 1px solid;
}
