body {
  background-image: url("a.png");
  background-size: cover;
}

.form {
  image: url("c.png")
  text-align: center;
  font-family: Times New Roman;
  color: white;
  font-size: 35px;
  opacity: 0.8;
}

.r {
  font-family: Times New Roman;
  color: white;
  font-size: 18px;
  background-color: black;
  width: 400px;
  padding: 30px;
  margin: 0 auto;

  margin-left: 600px;
  border-radius: 3px;
  opacity: 0.8;
}

.g {
  text-align: center;
}
